{% extends 'base.html' %}

{% block content %}
<main class="main-content">

    <div class="container-md my-4">
        <h3 class="h3">Dashboard</h3>
        <p class="text-muted">Overview of your fleet management system</p>
    </div>

    <div class="container-md my-4">
        <div class="row g-3">
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="p-4 text-dark box">
                    <div class="d-md-flex justify-content-between align-items-center">
                        <div>
                            <small class="text-muted">Total Drivers</small>
                            <h4 class="mb-0">0</h4>
                            <small class="text-muted">0 active</small>
                        </div>
                        <span class="main-icons">
                            <img src="..\static\image\people.svg" id="driver-icon" alt="Drivers">
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="p-4 text-dark box">
                    <div class="d-md-flex justify-content-between align-items-center">
                        <div>
                            <small class="text-muted d-block mb-1">Total Vehicles</small>
                            <h4 class="mb-0">0</h4>
                            <small class="text-muted">0 available</small>
                        </div>
                        <span class="main-icons">
                            <img src="..\static\image\car-front.svg" id="vehicle-icon" alt="Vehicle">
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="p-4 text-dark box">
                    <div class="d-md-flex justify-content-between align-items-center">
                        <div>
                            <small class="text-muted d-block mb-1">Active Contracts</small>
                            <h4 class="mb-0">0</h4>
                            <small class="text-muted">0 total</small>
                        </div>
                        <span class="main-icons">
                            <img src="..\static\image\file-earmark-text.svg" id="file-icon" alt="File">
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="p-4 text-dark box">
                    <div class="d-md-flex justify-content-between align-items-center">
                        <div>
                            <small class="text-muted d-block mb-1">Revenue (Paid)</small>
                            <h4 class="mb-0">₱0</h4>
                            <small class="text-muted">0 total</small>
                        </div>
                        <span class="main-icons">
                            <img src="..\static\image\graph-up-arrow.svg" id="arrow-icon" alt="File">
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-md">
        <div class="row">
            <div class="col-md">
                <div class="p-4 text-dark box">
                    <img src="..\static\image\currency-dollar.svg" id="dollar-icon" alt="Dollar">
                    <small class="h1 fs-6 mt-0">Pending Payments</small>
                    <h4 class="fs-2 mt-3 mb-0 ms-1">0</h4>
                    <small class="text-muted d-block ms-1">Payments awaiting collection</small>
                </div>
            </div>
            <div class="col-md">
                <div class="p-4 text-dark box">
                    <img src="..\static\image\exclamation-circle.svg" id="warning-icon" alt="Warning">
                    <small class="h1 fs-6 mb-1">Overdue Payments</small>
                    <h4 class="fs-2 mt-3 mb-0">0</h4>
                    <small class="text-muted">Payments past due date</small>
                </div>
            </div>
        </div>
    </div>
    <div class="container-md my-4">
    <div class="row">
        <div class="col-12 col-md-6 mb-3">
            <div class="p-4 text-dark box">
                <small class="h1 fs-6">Recent Contracts</small>
                <div class="d-flex justify-content-between align-items-start mt-4">
                    <div>
                        <p class="mb-0 fw-medium">Example</p>
                        <small class="mb-0 text-muted">Example</small>
                    </div>
                    <div class="text-end">
                        <p class="mb-0">Example</p>
                        <span class="badge-status active">active</span>
                    </div>
                </div>
                <hr>
            </div>
        </div>
        <div class="col-12 col-md-6 mb-3">
            <div class="p-4 text-dark box">
                <small class="h1 fs-6">Recent Payments</small>
                <div class="d-flex justify-content-between align-items-start mt-4">
                    <div>
                        <p class="mb-0 fw-medium">Example</p>
                        <small class="mb-0 text-muted">Example</small>
                    </div>
                    <div class="text-end">
                        <p class="mb-0">Example</p>
                        <span class="badge-status paid">paid</span>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>
</main>
{% endblock %}