{% extends 'base.html' %}
{% load static %}
{% block fullcontent %}
<style>
    body {
        display: flex;
        background-color: #1a1f2e;
        justify-content: center;
        min-height: 100vh;
        align-items: center;
        margin: 0;
    }
</style>
<div class="container-login">

    <form method="POST" action="{% url 'login' %}">
        
        <div class="d-flex flex-column align-items-center">
            <span class="lock-icon">
                <img src="{% static 'image/lock.svg' %}" alt="Lock">
            </span>
            <h2 class="h2 fw-bold">Fleet Desk</h2>
            <p class="fw-normal mb-4">Sign in to access your fleet management system</p>
        </div>

        <h6 class="h6">Username</h6>
        <input type="text" class="form-control mb-4" name="username" placeholder="Enter your username" required>
        <h6 class="h6">Password</h6>
        <input type="password" class="form-control mb-4" name="password" placeholder="Enter your password" required>
        {% csrf_token %}
        {% for message in messages %}
            {% if 'login' in message.tags %}
                <div class="error-message mb-4 h6">{{ message }}</div>
            {% endif %}
        {% endfor %}
        <button class="btn btn-primary mb-4" type="submit">Sign in</button>
    </form>
</div>

{% endblock %}