<div class="sidebar">
    <a class="navbar-brand d-block" href="{% url 'home' %}">Fleet Desk</a>
    <nav class="nav flex-column">
        <a class="nav-link" href="{% url 'home' %}">
            <span class="icon">
                <img src="..\static\image\columns-gap.svg">
            </span>
            <span class="description">Dashboard</span>
        </a>
        <a class="nav-link" href="#">
            <span class="icon">
                <img src="..\static\image\people.svg">
            </span>
            <span class="description">Drivers</span>
        </a>
        <a class="nav-link" href="#">
            <span class="icon">
                <img src="..\static\image\car-front.svg">
            </span>
            <span class="description">Vehicles</span>
        </a>
        <a class="nav-link" href="#">
            <span class="icon">
                <img src="..\static\image\file-earmark-text.svg">
            </span>
            <span class="description">Contracts</span>
        </a>
        <a class="nav-link" href="#">
            <span class="icon">
                <img src="..\static\image\currency-dollar.svg">
            </span>
            <span class="description">Payments</span>
        </a>
        <a class="nav-link" href="#">
            <span class="icon">
                <img src="..\static\image\tools.svg">
            </span>
            <span class="description">Repairs</span>
        </a>
        <a class="nav-link" href="#">
            <span class="icon">
                <img src="..\static\image\bell.svg">
            </span>
            <span class="description">Notifications</span>
        </a>
    </nav>

    <div class="divider">
        <hr id="sidebar-divider">
        <a class="nav-link" href="{% url 'logout' %}">
            <span class="icon">
                <img src="../static/image/arrow-bar-right.svg" alt="Logout">
            </span>
            <span class="description">Logout</span>
        </a>
    </div>

</div>