# Ignore local Django settings file
fleet/__pycache__/
fleetdesk/__pycache__/
__pycache__/
*.pyc
# Ignore database files
fleet/media/repair_receipts/
fleet/media/
staticfiles/
fleet/staticfiles/
.idea/
.claude/
fleetdesk/settings.py
fleetdesk/

*.sqlite3
*.sqlite
*.db
*.db-shm
*.db-wal