# Ignore local Django settings file
fleetdesk/settings.py
fleet/__pychache__/
fleetdesk/__pychache__/
__pycache__/
*.pyc
# Ignore database files
fleet/media/repair_receipts/
fleet/media/
staticfiles/
fleet/staticfiles/
.idea/

