body{
    background-color: rgb(247, 254, 255);
}
.box{
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    border: 2px solid rgb(229, 227, 227);
}
.body2{
    background-color: rgb(247, 254, 255);
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 270px;
    padding-top: 20px;
    background-color: #1a1f2e;
    transition: width 0.3s;
    justify-content: space-between;
}

.sidebar .navbar-brand{
    color: white;
    font-size: 20px;
    margin-left: 25px;
    margin-bottom: 35px;
}

.sidebar .nav-link{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px 20px;
    color: white;
    margin: 0px 10px 10px 10px;
}

.sidebar .nav-link.active{
    background-color: rgb(62, 62, 250);
    border-radius: 10px;
    pointer-events: none;
}

.sidebar .description{
    font-size: 16px;
}

.sidebar .nav-link:hover{
    background: rgb(255, 255, 255, 0.07); color: white;
    border-radius: 10px;
}

.sidebar .icon img{
    filter: invert(1);
    width: 20px;
    height: 20px;
}
.sidebar .icon{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar-divider{
    border-color: rgb(187, 187, 187);
    margin-bottom: 11px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 270px;
    background-color: #1a1f2e;
}

.footer .nav-link {
    justify-content: center;
}

.main-content{
    height: 100%;
    margin-left: 270px;
    margin-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
}